In [3]:
# Import the Pandas dependency.
import pandas as pd


# Read the contacts string data into a Pandas DataFrame
contacts_string_df = pd.read_csv("Resources/contacts_string_data.csv")
contacts_string_df.head()

                                        contact_info
0  contact_id 4661 name Cecilia Velasco email cec...
1  contact_id 3765 name Mariana Ellis email maria...
2  contact_id 4187 name Sofie Woods email sofie.w...
3  contact_id 4941 name Jeanette Iannotti email j...
4  contact_id 2199 name Samuel Sorgatz email samu...

In [6]:
# Extract the four-digit contact ID number.
contacts_string_df['contact_id'] = contacts_string_df['contact_info'].str.extract(r'(\d{4})')
contacts_string_df

                                          contact_info contact_id
0    contact_id 4661 name Cecilia Velasco email cec...       4661
1    contact_id 3765 name Mariana Ellis email maria...       3765
2    contact_id 4187 name Sofie Woods email sofie.w...       4187
3    contact_id 4941 name Jeanette Iannotti email j...       4941
4    contact_id 2199 name Samuel Sorgatz email samu...       2199
..                                                 ...        ...
995  contact_id 3684 name Whitney Noack email whitn...       3684
996  contact_id 5784 name Gelsomina Migliaccio emai...       5784
997  contact_id 1498 name Evangelista Pereira email...       1498
998  contact_id 6073 name Gareth Comolli email gare...       6073
999  contact_id 4939 name Michelangelo Hess email m...       4939

[1000 rows x 2 columns]

In [7]:
# Extract the first and last name after the word "name". 
name = re.findall(r'([^name\s+][A-Za-z]+\s+[A-Za-z]+)', string_data)
name

NameError: name 're' is not defined

In [ ]:
# output
# ['Cecilia Velasco', 'il cecilia']

In [8]:
# Extract the first and last name after the word "name". 
name = re.findall(r'([^nameil\s+][A-Za-z]+\s+[A-Za-z]+)', string_data)
name

NameError: name 're' is not defined

In [ ]:
# 8.4.3 Using the Pandas str.extract function, extract the name from the 
# "contact_info" column of the contact_df DataFrame, and add it to a new column named "name".

In [9]:
# Extract the email address using a regular expression pattern. 
email_address = re.findall(r'(\S+@\S+)', string_data)
email_address

NameError: name 're' is not defined

In [ ]:
# output should be ['cecilia.velasco@rodrigues.fr']

In [ ]:
# Skill Drill 8.4.3
# Using the Pandas str.extract function, extract the email address from the "contact_info" 
# column of the contact_df DataFrame, and add it to a new column named "email".

In [ ]:
# Congratulations on using regular expressions to clean and transform string data!

# Next, weâ€™ll create the crowdfunding database and load the data.
8.4.3